/* 여기에 스타일을 구현해 주세요 */
body {
  margin: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
}

.profile {
  width: 64px;
  height: 64px;
  position: relative;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid white;
}

.status.online {
  background: #4CFE88;
}


.status.offline {
  background: #DBDBDB;
}